/*产品十大品牌*/
.brand_best_view {
  background-color: #f2f2f2;
}
/*导航栏*/
.nav {
  height: .36rem;
  font-size: .14rem;
  line-height: .36rem;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  color: #5a5a5a;
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  padding-left: .1rem;
}
.nav a {
  display: inline;
}
/*产品十大品牌列表*/
.model {
  /*产品前十排行板*/
  /*产品销量排行列表*/
  /*最有用的用戶评论*/
}
.model .bd_title {
  height: .36rem;
  font-size: .14rem;
  color: #874604;
  line-height: .36rem;
  border-color: #eee;
  padding-left: .1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.model .best_list li {
  border-bottom: 1px solid #e7e7e7;
  padding: .1rem;
}
.model .best_list li a {
  height: .4rem;
}
.model .best_list li a span {
  display: inline-block;
  width: .2rem;
  height: .2rem;
  font-size: .14rem;
  line-height: .2rem;
  vertical-align: top;
  text-align: center;
  color: #fff;
  background-color: #c9c9c9;
  margin-right: .1rem;
}
.model .best_list li a span.top1 {
  background-color: #f10e0e;
}
.model .best_list li a span.top2 {
  background-color: #ff9314;
}
.model .best_list li a span.top3 {
  background-color: #8adf5b;
}
.model .best_list li a .product {
  display: inline-block;
  vertical-align: top;
}
.model .best_list li a .product .tit {
  color: #000;
  font-size: .14rem;
}
.model .best_list li a .product p {
  font-size: .12rem;
  color: #999;
  margin-top: 3px;
}
.model .ProList li {
  padding: .1rem;
  border-bottom: 1px solid #e7e7e7;
}
.model .ProList li a .pic {
  float: left;
  margin-right: .1rem;
  width: 1rem;
}
.model .ProList li a .info {
  line-height: .22rem;
  height: .44rem;
  word-break: break-all;
}
.model .ProList li a .info .tit {
  font-size: .14rem;
  color: #333333;
}
.model .ProList li a .info .price {
  font-size: .18rem;
  color: #ea3900;
  line-height: .3rem;
}
.model .ProList li a .info .price .star {
  float: right;
}
.model .ProList li a .info .others {
  font-size: .12rem;
  color: #999999;
}
.model .usefulComment li,
.model .newestComment li {
  padding: .1rem;
  border-bottom: 1px solid #e7e7e7;
}
.model .usefulComment li a .proInfo .pic,
.model .newestComment li a .proInfo .pic {
  width: .8rem;
  float: left;
  margin-right: .1rem;
}
.model .usefulComment li a .proInfo p,
.model .newestComment li a .proInfo p {
  font-size: .14rem;
  color: #999;
}
.model .usefulComment li .proComt::before,
.model .newestComment li .proComt::before {
  content: '';
  display: block;
  border-top: 0;
  border-left: .08rem solid #f2f2f2;
  border-right: .08rem solid #f2f2f2;
  border-bottom: .08rem solid #fff;
  position: absolute;
  top: -0.06rem;
  left: .3rem;
}
.model .usefulComment li .proComt,
.model .newestComment li .proComt {
  margin-top: .1rem;
  position: relative;
}
.model .usefulComment li .proComt a,
.model .newestComment li .proComt a {
  background-color: #fff;
  font-size: .14rem;
  color: #000;
  padding: .1rem;
}
.model .usefulComment li .proComt a .comtTime,
.model .newestComment li .proComt a .comtTime {
  margin-bottom: .1rem;
}
.model .usefulComment li .proComt a .comtTime .user,
.model .newestComment li .proComt a .comtTime .user {
  color: #4f6900;
}
.model .usefulComment li .proComt a .comtTime .star,
.model .newestComment li .proComt a .comtTime .star {
  color: orange;
  font-size: .2rem;
}
.model .usefulComment li .proComt a .comtTime em,
.model .newestComment li .proComt a .comtTime em {
  float: right;
  color: #999;
}
.model .usefulComment li .proComt a p,
.model .newestComment li .proComt a p {
  line-height: .22rem;
  word-break: break-all;
  letter-spacing: 1px;
}
